.stickyNote {
  display: grid;
  grid-template-columns: 10% 10% 20% 20% 20% 10% 10%;
  grid-template-rows: 10% 10% 20% 20% 20% 10% 10%;
  background-color: #fdfd86;
  line-height: 1;
  text-align: center;
  width: 20vw;
  height: 20vw;
  margin: 25px;
  box-shadow: 0 0.5em 0.5em 0;
}

.removeButton {
  background: white;
  border-radius: 8px;
  font-size: 1.5em;
  padding: 0.5em 0.5em;
  margin: 0.5em;
}

.noteText {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-end: 5;
  grid-row-start: 3;
}
