.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
}

.subTitle {
  font-family: "Cardo";
  font-size: 1.4rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-top: -1.5rem;
  margin-bottom: 2.5rem;
}

.list {
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  left: 100px;
}

.title {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.energiser {
 /* display: grid;*/
 display: flex;
  padding: 1em;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  margin-bottom: .2vw; 
  width: 40vw;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);  
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 10s linear infinite;
    -webkit-animation: example1 10s linear infinite;
    animation: example1 10s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);     
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
}

.energiserName {
   margin-top: 10em; 
  font-size: large;
  margin: auto;

}

.Button {
  border: 0.1em solid;
  border-color: #1d5b40 !important;
  font-size: 1em;
  height: 2em !important;
  display: block;
  width: 10vw;
  margin: auto;
  margin-bottom: 3vw;
  background-color: rgb(193, 218, 215, 0.3);
 
}
.Button:hover {
  background-color: rgb(193, 218, 215, 0.3);
  border-right: 1em solid #00675b !important;
}

.secondaryTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.5em;
  margin-top: 1em;
}


