.link {
  color: blue;
  text-decoration: underline;
  grid-column: 1;
}

.link:visited {
  color: #800000;
  text-decoration: underline;
  grid-column: 1;
}

.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.25em;
}

.main {
  /* padding: 10vh; */
}

.data {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1.5em;
  line-height: 2;
  border: 3px solid;
  border-radius: 1em;
  background-color: #f1f2f4;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  box-shadow: 0 3px 3px 0;
  max-width: 65vw;
}

.title {
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: bold;
  grid-column: 1;
}

.thumbnail {
  width: auto;
  height: 25vh;
  grid-column: 2;
  grid-row: 1 / span 6;
  border-radius: 1em;
  margin: auto;
}

.description {
  grid-column: 1;
  line-height: 2em;
}
