.Button {
  border-radius: 3px;
  background-color: #63a4ff;
  color: #000000;
  font-size: 1em;
  padding: 0.1em 0.3em;
  height: auto !important;
  width: auto;
  margin: 1em;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25) !important;
}
