.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 8rem;
  margin-left: 0.5em;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.25em;
}

.littleDot {
  align-self: center !important;
}

.smallContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 6.25em 0 2em -0.75em;
  background-color: #c1dad7;
  border-width: 4px;
  border-radius: 0.6em;
  border-top-left-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageBox {
  border-right: 1px solid white;
  padding: 1em 1em 0 1em;
}

.image {
  width: 3em;
}

.textBox {
  padding: 1em;
  font-family: 'Josefin sans';
}

.topic {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.topicList {
  padding-left: 2em;
}
