.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: -0.5em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.avatar {
  grid-column-start: 1;
  grid-row: span 4;
  margin-top: 25%;
}

.pairs {
  padding: 1em 0 1em 0;
  display: grid;
  grid-template-columns: 30% 70%;
}

.secondaryTitle {
  font-family: "Cardo";
  font-size: 4em;
  margin: auto;
  align-self: baseline;
  margin-top: 1.8rem;
}

.link {
}

.button {
  border: 2px solid;
  border-color: #00675b;
  font-weight: bold;
  padding: 0.75em;
  margin-top: 3rem;
}

.alignment {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonRight {
  float: right;
  margin-right: 5em;
}

.image {
  width: 45vw;
  height: auto;
  justify-self: center;
  margin-top: 3em;
  margin-left: 10%;
}

.bootcampersList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.content {
  width: 120%;
}

.bootcamper {
  grid-column-start: 2;
}
