.mainArt {
  grid-column-start: 2;
  display: block;
  position: relative;
  padding-left: 5rem;
}

.mainArt::after {
  content: "";
  background: url("https://i.ibb.co/djGMmMV/splash.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1 !important;
}

.layoutArt {
  display: grid;
  grid-template-columns: 15rem auto;
}

.layout {
  display: grid;
  grid-template-columns: 20rem auto;
}

.main {
  grid-column-start: 2;
}
