.mainImage {
  grid-column-start: 2;
  display: block;
  position: relative;
  padding-left: 7.5rem;
  padding-right: 7.5rem;

}

.mainImageAfter {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1 !important;
}

.layoutImage {
  display: grid;
  grid-template-columns: 15rem auto;
}

.layout {
  display: grid;
  grid-template-columns: 15rem auto;
}

.main {
  grid-column-start: 2;
  padding-right: 7.5rem;
  padding-left: 7.5rem;
}
