.list {
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  left: 100px;
}

.title {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.energiser {
  padding: 1em;
}

.energiserName {
  margin-top: 1em;
  font-size: large;
}
