.tablecontainer {
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  position: absolute;
  left: 100px;
}

.header {
  margin-left: 20%;
}

.tableTitle {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}
