.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 2.5rem;
}

.main {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.cohortImage {

  height: 20vh;
}

.cohortTile {
  padding: 1.5em;
  align-self: baseline;
  font-family: "Cardo";
  margin-bottom: 2.5rem;


}

.link {
  font-size: 1.5em;

}
