.title {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}

.energiser {
  padding: 1em;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.mainTitle {
  font-family: 'Cardo';
  font-style: medium;
  font-size: 8rem;
  margin-left: 0.5em;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.25em;
}
