.title {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}

.energiser {
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: end;
  justify-content: center;
  display: flex;
  border: 3px solid;
  margin-top: 1em;
  margin-bottom: 2.5em;
  border-radius: 1em;
  margin-right: 3em;
  box-shadow: 0 3px 3px 0;
  height: 25vh;
}

.main {
  display: grid;
  grid-template-columns: 4em 4em 4em 4em 4em 4em 4em 4em 4em;
}

.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.25em;
}

.image {
  width: auto;
  height: 20vh;
  border-radius: 1em;
}

.link {
  border: 0.1em solid;
  border-color: #00675b;
  font-size: 1.5em;
  margin-right: 20%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1em;
  width: 15vw;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 3px 3px 0;
}

.link:hover {
  background-color: rgb(193, 218, 215, 0.3);
}
