.title {
  margin: 0.5em 0;
  text-align: center;
  font-size: x-large;
}

.energiser {
  padding: 1em;
  grid-column-start: 2;
  grid-column-end: 6;
}

.main {
  display: grid;
  grid-template-columns: 4em 4em 4em 4em 4em 4em 4em 4em 4em;
}

.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 8rem;
  margin-left: 0.5em;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 0.25em;
}

.image {
  width: auto;
  height: auto;
  max-width: 6em;
  max-height: 6em;
}

.link {
  font-size: 1.5em;
}
