.mainTitle {
  font-family: "Cardo";
  font-style: medium;
  font-size: 5rem;
  letter-spacing: -4%;
  vertical-align: top;
  margin-bottom: 2rem;
}

.link {
  color: blue;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.body {
  background-color: pink;
}
